body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

header {

}

.container{
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.header-title-area{
  padding-top: 40px;
  margin-bottom: 30px;
}

.header-logo {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.header-navi {
  width: 100%;
  background-color: #696969;
  padding: 20px 0;
}

.header-navi:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navi li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

.article {
  width: 920px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

}

.left-contents {
  width: 600px;
  margin-right: 10px;
  float: left;
}

.right-contents {
  width: 300px;
  float: left;
}

.card-contents {
  padding: 40px ;
  display:block;

}

.article-list {
  padding: 40px;
  display:block;
}


.content {
  padding-bottom: 10px;
}

.list {
  margin-bottom: 10px;
}

.thumbnail {
  width: 150px;
  height: 150px;
  float: left;
}

.message-area {
  height: 150px;
  width: 360px;
  float: left;
}

.article-title {
  font-size: 18px;
  color: #00A0E9;
  margin-bottom: 5px;
}

.article-text {
  font-size: 12px;
}

.new-title {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
  margin-right: 10px;
}

.new-thumbnail {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

.new-message-area {
  height: 50px;
  width: 150px;
  float: left;
}

.new-data {
  font-size: 12px;
}

.new-article-title {
  font-size: 12px;
  color: #00A0E9;
}

.article:after {
  clear: both;
  display:block;
  content: " ";
}

footer {
  width: 920px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.copyright {
  width: 800px;
  color: #777;
  text-align: center;
  display: inline-block;
  border-top: 2px solid #efefef;
  padding: 20px;
  margin-left: 40px;
}
